:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --text-color: #f1b2ce;
  --heading-color: #00183f;
  --accent-color: #ff0070;
  --logo-color: #db00ff;
  --section-title-color: #ff0070;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
}

.theme-dark .header__rec {
  display: block;
}
